:root {
  --clr-main-bg: #dde6e6;
  --clr-card-bg: #ffffff;
  --clr-chat-bg: #f0f0f0;
  --clr-primary-100: hsl(180, 23%, 35%);
  --clr-primary-200: hsl(180, 23%, 29%);
  --clr-primary-300: hsl(180, 23%, 23%);

  --border-radius: 1rem
}